body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #e6edf5; /* modern light blue-gray */
}

header {
  padding: 20px 40px;
  border-bottom: 1px solid lightgray;
}

nav a {
  margin-right: 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

main {
  background-color: white;
  padding: 40px;
  margin: 40px;
}

section {
  background-color: #3b4a63;
  color: white;
  padding: 120px;
  text-align: center;
}

section a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  border: 2px solid black;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.board {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
  
}

.card {
  width: 160px;
  background-color: #4a5a73;
  color: white;
  text-align: center;
  padding: 5px;
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

.image-note {
  margin-top: 20px;
  font-size: 14px;
}

.card-link {
  text-decoration: none;
  color: black;
}

.card-link:hover {
  opacity: 0.9;
}

.review-header {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  margin-bottom: 30px;
}

.review-text {
  max-width: 500px;
}

main p {
  line-height: 1.5;
}
  
.review-poster {
  width: 200px;
  height: auto;
}

h2 {
  margin-top: 40px;
}

table {
  border-collapse: collapse;
  margin-top: 10px;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid black;
  padding: 8px 12px;
}
